img {
    object-fit: contain;
}

.homeHero {
    background: no-repeat url('../../assets//Home//homeHero.png') 0 0 / 100% 100%;
}
.getCard {
    background: no-repeat url('../../assets//Home//garden.svg') 0 0 /  100% 100%;
}

.HomeNewsCard1 {
    background: no-repeat url('../../assets/Home/benefits.png') 0 0 / 100% 100%;
}
.HomeNewsCard2 {
    background: no-repeat url('../../assets/Home/favourite.png') 0 0 / 100% 100%;
}
.customer {
    background: no-repeat url('../../assets/Home/customer.png') 0 0 / 100% 100%;
}
.OrganicJuice {
    background: no-repeat url('../../assets/Home/organicJuice.png') 0 0 / 100% 100%;
}
.OrganicFood {
    background: no-repeat url('../../assets/Home/organicFood.png') 0 0 / 100% 100%;
}
.NutsCookis {
    background: no-repeat url('../../assets/Home/nutsCookis.png') 0 0 / 100% 100%;
}